# Исключаем файлы, сгенерированные средой разработки
.idea/
*.iml

# Исключаем скомпилированные файлы и артефакты сборки
/target/

# Исключаем файлы с секретными данными
/src/main/resources/application.properties