# ===================================================================
# Файлы и папки, генерируемые IntelliJ IDEA
.idea/
*.iml

# ===================================================================
# Файлы, генерируемые Maven и Spring Boot
target/
.mvn/
mvnw
mvnw.cmd

# ===================================================================
# Логи и временные файлы
*.log
*.tmp

# ===================================================================
# Файлы операционной системы (опционально, но полезно)
.DS_Store
Thumbs.db